.todoContainer {
    display: flex;
    justify-content: center;
    max-width: 300px;
}

.todo {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1rem;
    background-color: #ffffff;
    width: 20rem;
    flex-direction: column;
    padding: 1rem;
    box-shadow: 10px 5px 5px rgb(225, 227, 237);
    border-radius: 2px;
}

.todo input, p {
    font-weight: 500;
    font-size: 0.8rem;
    font-family: Arial , serif;
    user-select: text;
}

.notCheckbox {
    padding: 1.5rem;
}

.deleteIcon {
    width: 20px;
    height: auto;
}

.todoTitleDone {
    border: none;
    background-color: #ffffff;
    margin-right: 1rem;
    font-weight: 200;
    text-decoration: line-through;
    color: #201f23;
}

.todoTitleUndone {
    border: none;
    background-color: #ffffff;
    margin-right: 1rem;
    font-weight: 200;
    color: #201f23;
}

.editBtn {
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 0.5rem;
    color: #4b8df7;
    border-radius: 0.3rem;
    margin: 0.5rem 0;
}

.delBtn {
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 0.5rem;
    color: rgb(255, 77, 79);
    border-radius: 0.3rem;
    margin: 0.5rem 0;
}

.editIcon {
    width: 20px;
    height: auto;
    display: flex;
}

.taskButtons {
    display: flex;
    justify-content: right;
    font-size: 0.8rem;
    height: 2rem;
    visibility: hidden;
    opacity: 0;
}
.todo:hover .taskButtons {
    visibility: visible;
    opacity: 1;
}

.taskEditButtons {
    display: flex;
    justify-content: right;
    font-size: 0.8rem;
    height: 2rem;
}

