.todoContainer {
    display: flex;
    justify-content: center;
}

.todo {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1rem;
    background-color: #ffffff;
    width: 20rem;
    border-radius: 0.4rem;
}

.todo input {
    font-weight: 500;
    font-size: 0.8rem;
    font-family: Arial , serif;
}

.notCheckbox {
    padding: 1.5rem;
}

.editBtn {
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 0.5rem;
    background-color: #4b8df7;
    border-radius: 0.3rem;
    margin: 0.5rem 0;
}

.editIcon {
    width: 20px;
    height: auto;
    display: flex;
}


.deleteIcon {
    width: 20px;
    height: auto;
}

.checkboxStatusTodo {
    appearance: none;
    color: #cccccc;
    accent-color: #4b8df7;
    width: 1rem;
    height: 1rem;
    border: 1px solid #cccccc;
    border-radius: 1.25rem;
    background-color: #fff;
    cursor: pointer;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    margin: 1.2rem;
}
.checkboxStatusTodo:checked {
    background-color: #0d6efd;
    border-color: #0d6efd;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.todoTitleDone {
    border: none;
    background-color: #ffffff;
    margin-right: 1rem;
    font-weight: 200;
    text-decoration: line-through;
    color: #201f23;
}

.todoTitleUndone {
    border: none;
    background-color: #ffffff;
    margin-right: 1rem;
    font-weight: 200;
    color: #201f23;
}