.todoContainer {
    display: flex;
    justify-content: center;
}

.todo {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 1rem;
    background-color: #ffffff;
    width: 20rem;
    border-radius: 0.4rem;
}

.todo input {
    font-weight: 500;
    font-size: 0.8rem;
    font-family: Arial , serif;
}

.notCheckbox {
    padding: 1.5rem;
}

.deleteIcon {
    width: 20px;
    height: auto;
}

.todoTitleDone {
    border: none;
    background-color: #ffffff;
    margin-right: 1rem;
    font-weight: 200;
    text-decoration: line-through;
    color: #201f23;
}

.todoTitleUndone {
    border: none;
    background-color: #ffffff;
    margin-right: 1rem;
    font-weight: 200;
    color: #201f23;
}

.editBtn {
    color: inherit;
    border: none;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    padding: 0.5rem;
    background-color: #4b8df7;
    border-radius: 0.3rem;
    margin: 0.5rem 0;
}

.editIcon {
    width: 20px;
    height: auto;
    display: flex;
}

