.todoListContainer {
    background-color: #f3f7fb;
}

.todosCategories {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #f3f7fb;
    border: none;
}

.todoCategory {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    font-weight: 600;
    border-bottom: 2px solid #f3f7fb;
    margin: 0.7rem;
    color: #5e6c84;
    font-size: 0.65rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 14rem;

}

.todoCategoryCounter {
    background-color: #dfe1e6;
    width: 1rem;
    text-align: center;
    border-radius: 1rem;
}

.todoContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    padding-left: 1rem;
    text-align: center;
}


.tasksColumn {
    display: flex;
    flex-direction: column;
    background-color: #f4f5f7;
    margin-right: 0.5rem;
}