.todoAdd {
    display: flex;
    justify-content: center;
    margin: 1rem;
    flex-direction: row;
    align-content: center;
    background-color: #f3f7fb;
}

.inputNewTodo {
    border: none;
    background-color: #f3f7fb;
    border-bottom: 1px solid #d7dde5;
    margin-right: 1rem;
    font-weight: 200;
    color: #201f23;
}

.addButton:hover {
    background-color: #347bf0;
}
