.mainContent {
    display: flex;
}

body {
    margin: 0;
}

.tasksDashboard {
    display: flex;
    flex-direction: column;
    overflow-x: auto;
}

.todoAdd {
    display: flex;
    justify-content: right;
}